* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #43555f;
    margin: 0;
}

:root {
    --primary-color: #264969;
    --secondary-color: #71563d;
    --light-bg: #e7d5c4;
    --footer-bg: #264969;
}

/* Header */
header {
    display: grid;
    grid-template-columns: 20% 50%;
    align-items: center;
    padding: 20px;
    background-color: var(--primary-color);
    color: #fff;
    justify-content: flex-end;
    font-family: 'Dancing Script', cursive;
}

header img {
    max-width: 180px;
    border-radius: 5px;
    box-shadow:  0 0 15px 5px #e7d5c4;
    align-items: center;
   
}

header h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    text-align: center;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
nav ul {
    list-style:None;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    align-content: center;
}
nav a {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    background-color: #264969;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-family: 'Dancing Script', cursive;
    box-shadow: 0 0 15px 5px #fff;
}

nav a:hover {
    background-color: #71563d;
    color: #eee;
    transform: scale(1.2);
    align-items: center;
}



/* Main Content Layout */
.main-content {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    
}

.main-content img {
    box-shadow:  0 0 15px 5px #43555f;
    margin: 20px;
}

h1{
    text-align: center;
    font-family: 'Dancing Script', cursive;
}
/* Employee Section*/
.employees h2 {
    justify-self: center;
    text-align: center; 
    font-family: 'Dancing Script', cursive;
    font-size: 1.8rem;
}
.employees {
    display: flex;
    flex-direction: row;
   /*grid-template-columns: 1fr 2fr 1fr;*/
    border: 20px;
    padding: 20px;
    background-color: var(--light-bg);
    border-radius: 8px;
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow:  0 0 15px 5px #43555f;
}

.employee-images {
    display: flex;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 20px;
    justify-content: center;

}
.employee-images img {
    box-shadow:  0 0 15px 5px #71563d;
}

.employee-images figure {
    text-align: center;
    margin: 0;
    font-family: 'Dancing Script', cursive;
}

/* Form Section */
form {
    width: 700px;
    margin: 0 auto;
    padding: 1rem;
    border: 3px #71563d;
    border-radius: 0.5rem;
    background-color: #eee;
    box-shadow: 0 0 15px 5px #43555f;  
    display: grid;
    margin-bottom: 40px;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border:1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
}

legend {
    padding: 0.5rem;
    color: #43555f;
    font-family: 'Dancing Script', cursive;
    font-size: 1.3em; 
}

.form-item column1 {
    display: grid;
    align-items: center;
    font-family: 'Dancing Script', cursive;
}

.form-email column2 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
}

.column2 {
    grid-template-columns: 2fr 2fr;
}

label, input, button, select, textarea {
    font-family: 'Dancing Script', cursive;
}

label {
    text-align: right;
    padding-right: 1rem;
}
.form-radio {
    font-family: 'Dancing Script', cursive;

}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: center;
    
}

button {
    margin: 1rem;
    background-color: #43555f;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: #71563d;
    transform: scale(1.2);
}


/* Footer */
footer {
    text-align: center;
    background-color: #264969;
    color: white;
    padding: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}
footer a {
    color: white
}

footer a:hover {
    color: #71563d
}
/* Footer */
footer {
    display: grid;
    grid-template-columns: 80% 15%;
    align-items: center;
    padding: 20px;
    color: #fff;
    font-family: 'Dancing Script', cursive;
}

footer .sociallinks {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: flex-start;
}

footer img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: transform 0.3s ease;
    box-shadow: 0 0 15px 5px #fff;  
}

footer img:hover {
    transform: scale(1.2);
}