* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav { 
    
    background-color: steelblue; 
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem
}

header, footer, .grid {
    
    max-width: 840px;
    display: flex;
    margin: 0 auto;
    justify-content: center
}


.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0fr;
    align-items: center;
    flex: 1;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    max-width: 840px;
    margin-top: 15px;
    border-top: 1px solid black;
    text-align: center;
}

aside {
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}



.box {
    position: relative;
    grid-column: 2/2;
    grid-row: 1/2;
    padding: 1rem;
    background-color: white;
    color: #000;
    height: auto;
    overflow: hidden;
    display: block;
}


.box img {
    float: right;
    width: 148px;
    height: auto;
    border: 1px solid black;
    box-shadow: 0 0 30px;
    margin: 1rem;
}

.box h1 {
    
    color: steelblue;
    padding: 1rem;
    margin-top: 1rem;
    border-bottom: 2px solid;
    margin-bottom: 1rem
}

.box p {
    padding-bottom: 1rem;
    margin: auto;
    text-align: justify;
}

.box1 {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    color: #000;
    background-color: lightgray;
 }
.box2 {
    position: relative;
    grid-column: 1;
    grid-row: 1;
    margin: 0rem;
    padding: 1rem;
    background-color: white;
    color: #000;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.box2 img {
    width: 200px;
    height: auto;
    border: 1px solid black;
    box-shadow: 0 0 30px;


}

.box2 h2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    padding: 0.5rem;
}


.box2 p {
    padding: 1rem;
    margin: 0;
    font-family:sans-serif;
    text-align: left;
}



